# This file can be created by running the following command (overwrites)
#   pip-compile dev-requirements.in --output-file=- > dev-requirements.txt
# and editing the output manually.

# Core packages defined in requirements-dev.in
# pip-compile dev-requirements.txt
aiofiles==23.2.1
dramatiq[rabbitmq,watch]==1.16.0
fastapi==0.110.1
pillow==10.3.0
pydantic-settings==2.2.1
pypdfium2==4.28.0
sqlmodel==0.0.16

# Dependencies
annotated-types==0.6.0
    # via pydantic
anyio==4.3.0
    # via
    #   httpx
    #   starlette
blinker==1.7.0
    # via flask
brotli==1.1.0
    # via geventhttpclient
certifi==2024.2.2
    # via
    #   geventhttpclient
    #   httpcore
    #   httpx
    #   requests
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via flask
configargparse==1.7
    # via locust
exceptiongroup==1.2.0
    # via
    #   anyio
    #   pytest
flask==3.0.3
    # via
    #   flask-cors
    #   flask-login
    #   locust
flask-cors==4.0.0
    # via locust
flask-login==0.6.3
    # via locust
gevent==24.2.1
    # via
    #   geventhttpclient
    #   locust
    #   watchdog-gevent
geventhttpclient==2.2.1
    # via locust
greenlet==3.0.3
    # via
    #   gevent
    #   sqlalchemy
h11==0.14.0
    # via httpcore
httpcore==1.0.5
    # via httpx
idna==3.7
    # via
    #   anyio
    #   httpx
    #   requests
iniconfig==2.0.0
    # via pytest
itsdangerous==2.2.0
    # via flask
jinja2==3.1.3
    # via flask
markupsafe==2.1.5
    # via
    #   jinja2
    #   werkzeug
msgpack==1.0.8
    # via locust
mypy-extensions==1.0.0
    # via mypy
packaging==24.0
    # via pytest
pika==1.3.2
    # via dramatiq
pluggy==1.4.0
    # via pytest
prometheus-client==0.20.0
    # via dramatiq
psutil==5.9.8
    # via locust
pydantic==2.7.0
    # via
    #   fastapi
    #   pydantic-settings
    #   sqlmodel
pydantic-core==2.18.1
    # via pydantic
python-dotenv==1.0.1
    # via pydantic-settings
pyzmq==26.0.0
    # via locust
requests==2.31.0
    # via locust
roundrobin==0.0.4
    # via locust
sniffio==1.3.1
    # via
    #   anyio
    #   httpx
sqlalchemy==2.0.29
    # via sqlmodel
starlette==0.37.2
    # via fastapi
tomli==2.0.1
    # via
    #   locust
    #   mypy
    #   pytest
typing-extensions==4.11.0
    # via
    #   anyio
    #   fastapi
    #   mypy
    #   pydantic
    #   pydantic-core
    #   sqlalchemy
urllib3==2.2.1
    # via
    #   geventhttpclient
    #   requests
watchdog==4.0.0
    # via
    #   dramatiq
    #   watchdog-gevent
watchdog-gevent==0.1.1
    # via dramatiq
werkzeug==3.0.2
    # via
    #   flask
    #   flask-login
    #   locust
zope-event==5.0
    # via gevent
zope-interface==6.3
    # via gevent