# This file can be created by running the following command (overwrites)
#   pip-compile dev-requirements.in --output-file=- > dev-requirements.txt
# and editing the output manually. All non-dev requirements are also necessary.

# Core packages
httpx==0.27.0
mypy==1.9.0
locust==2.25.0
pytest==8.1.1

# Dependencies
anyio==4.3.0
    # via httpx
blinker==1.7.0
    # via flask
brotli==1.1.0
    # via geventhttpclient
certifi==2024.2.2
    # via
    #   geventhttpclient
    #   httpcore
    #   httpx
    #   requests
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via flask
configargparse==1.7
    # via locust
exceptiongroup==1.2.0
    # via
    #   anyio
    #   pytest
flask==3.0.3
    # via
    #   flask-cors
    #   flask-login
    #   locust
flask-cors==4.0.0
    # via locust
flask-login==0.6.3
    # via locust
gevent==24.2.1
    # via
    #   geventhttpclient
    #   locust
geventhttpclient==2.2.1
    # via locust
greenlet==3.0.3
    # via gevent
h11==0.14.0
    # via httpcore
httpcore==1.0.5
    # via httpx
idna==3.7
    # via
    #   anyio
    #   httpx
    #   requests
iniconfig==2.0.0
    # via pytest
itsdangerous==2.2.0
    # via flask
jinja2==3.1.3
    # via flask
markupsafe==2.1.5
    # via
    #   jinja2
    #   werkzeug
msgpack==1.0.8
    # via locust
mypy-extensions==1.0.0
    # via mypy
packaging==24.0
    # via pytest
pluggy==1.4.0
    # via pytest
psutil==5.9.8
    # via locust
pyzmq==26.0.0
    # via locust
requests==2.31.0
    # via locust
roundrobin==0.0.4
    # via locust
sniffio==1.3.1
    # via
    #   anyio
    #   httpx
tomli==2.0.1
    # via
    #   locust
    #   mypy
    #   pytest
typing-extensions==4.11.0
    # via
    #   anyio
    #   mypy
urllib3==2.2.1
    # via
    #   geventhttpclient
    #   requests
werkzeug==3.0.2
    # via
    #   flask
    #   flask-login
    #   locust
zope-event==5.0
    # via gevent
zope-interface==6.3
    # via gevent